NODE_ENV=development
PORT=4001
MONGO_URI=mongodb://localhost:27017/examedge

JWT_ACCESS_SECRET=replace_me_access_secret
JWT_REFRESH_SECRET=replace_me_refresh_secret
JWT_ACCESS_TTL_SEC=900
JWT_REFRESH_TTL_SEC=2592000

CORS_ORIGIN=http://localhost:5173

OPENAI_API_KEY=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
