NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/examedge

JWT_ACCESS_SECRET=replace_me_access_secret
JWT_REFRESH_SECRET=replace_me_refresh_secret
JWT_ACCESS_TTL_SEC=900
JWT_REFRESH_TTL_SEC=2592000

CORS_ORIGIN=http://localhost:5173

